<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<nav>
    <p class="p-nav">Home</p>
    <p class="p-nav">Admin page</p>
</nav>
<h1>Lista av alla böcker</h1>


<%  books.forEach( book => { %>
    <div>
        <%= book.image %>
    </div>
    <div>
        <%= book.name %>
    </div>
    <div>
        <%= book.price %>
    </div>
    <a href="/showBook/<%=book._id%>">Visa bok</a>
 <%  }) %>

<div>
    <% if(pageGeneration !== showProducts/productsPerReq) { %>
        <a href="/?page=<%=(showProducts/productsPerReq)+1%>">Ladda fler böcker</a>
    <% } else { %>
        <a href="/?page=1">Visa färre böcker</a>
    <% } %>
</div>

</body>
</html>